version: '3.8'
services:
  app:
    container_name: app
    restart: always
    build: .
    env_file: .env
    ports:
      - ${NEST_API_HTTP_PORT}:${NEST_API_HTTP_PORT}
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
  db:
    container_name: mysql
    image: mysql:8.0 
    ports:
      - '3306:${DATABASE_PORT}' 
    volumes:
      - data:/var/lib/mysql  
    environment:
      - MYSQL_DATABASE=${DATABASE_NAME}  
      - MYSQL_PASSWORD=${DATABASE_PASSWORD} 
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
volumes: 
  data: {}